.side-navigation {
    height: 100vh;
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: #002137;
    color: #ffffff;
    position: sticky;
    align-items: center;
}
.logo-image {
    width: 72px;
    height: 54px;
    margin-top: 10px;
}
.btn-div {
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.application-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
